<div class="example-container">
  <div class="form-container">
    <form [formGroup]='joinForm' (ngSubmit)='onSubmit(joinForm.value)'>
      <div class="form-field">
        <label for="id"></label>
        <input id="id" value = '아이디'  type="text" formControlName="id">
      </div>
      <div class="form-field">
        <label for="password"></label>
        <input id="password" value = '비밀번호'  type="text" formControlName="password">
      </div>
      <div class="form-field">
        <label for="confirmPassword"></label>
        <input id="confirmPassword" value = '비밀번호 확인'  type="text" formControlName="confirmPassword">
        </div>
      <div class="form-field">
        <label for="name"></label>
        <input id="name" value = '성명'  type="text" formControlName="name">
      </div>
      <div class="form-field">
        <label for="id"></label>
        <input id="id" value = '아이디'  type="text" formControlName="id">
      </div>
      <button class="button" type="submit">가입</button>
    </form>
  </div>
</div>