@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");

body {
  padding-bottom: 150px;
}

.join-container {
  border: solid 1px;
  border-radius: 7px;
  width: 400px;
  height: auto;
  border-color: rgb(203, 208, 209);
  margin: auto;
  box-shadow: 0px 0px 10px rgb(170, 174, 175);
  padding-left: 25px;
  padding-right: 25px;
}

.name {
  font-family: "Nanum Gothic", sans-serif;
  color: rgb(71, 71, 71);
  font-size: 40px;
  margin-top: 30px;
  width: 400px;
  border-bottom: solid 1px rgb(170, 174, 175);
}

.form-container {
  width: 400px;
  margin: auto;
  margin-top: 30px;
  text-align: center;
}

input {
  font-family: "Nanum Gothic", sans-serif;
  border: solid 1px;
  border-color: rgb(176, 181, 182);
  border-radius: 7px;
  background-color: transparent;
  width: 392px;
  height: 40px;
  font-size: 100%;
  padding-left: 8px;
}

input:focus {
  box-shadow: 0px 0px 10px rgb(170, 174, 175);
  outline: transparent;
}

.form-field {
  width: 400px;
  margin-top: 1px;
  align-content: center;
}

.button {
  margin-top: 35px;
  width: 75px;
  height: 35px;
  margin-left: 325px;
  font-size: 15px;
  margin-bottom: 30px;
  background-color: rgb(129, 104, 243);
  border-radius: 5px;
  border-color: transparent;
  color: rgb(255, 255, 255);
}

button:focus {
  outline: transparent;
  box-shadow: 0px 0px 10px rgb(170, 174, 175);
}

.message {
  font-family: "Nanum Gothic", sans-serif;
  font-family: url();
  margin-top: 10px;
  margin-right: 0px;
  font-size: 14px;
  width: 100px;
}
